/* Reset */
* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #181818;
  color: #fff;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 45px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#right {
  flex:1;
}

/* Sign In */
#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signin form {
  width: 75%;
  padding-bottom: 3rem;
}

#signin .logo {
  margin-bottom: 8vh;
}

#signin .logo img {
  width: 300px;
}

#signin label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#signin .text-input {
  margin-bottom: 1.3rem;
  width:100%;
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

#signin label {
  font-weight: bold;
  color: #ccc;
}

#signin .primary-btn {
  width: 100%;
}

.links {
  width: 50%;
}

#signin .links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

#signin .links a:hover {
  color: #ff7b39;
}

#signin .links .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

#signin .or span {
  padding: 0 0.8rem;
  color: #ccc;
}

/* Right side - Showcase */
#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://i.ibb.co/crb3KQ7/pexels-photo-1020315.jpg) no-repeat center center /cover;
  height: 100vh;
  text-align: center;
}

#showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 2rem;
}

#showcase span {
  font-weight: bold;
}

#showcase .secondary-btn {
  width: 35%;
  margin: auto;
}

/* Footer */
#main-footer {
  color: #ccc;
  font-size: 0.9rem;
  text-align: center;
  max-width: 80%;
  padding-top: 5rem;
}

#main-footer a {
  color: #f96816;
  text-decoration: underline;
}

/* Buttons */
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border:0;
  border-radius: 2px;
  font-weight: bold;
  background: #f96816;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.primary-btn:hover{
  background: #ff7b39;
}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 3rem;
  display: block;
  border:1px solid #fff;
  border-radius: 2px;
  background: none;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.secondary-btn:hover{
  color: #ff7b39;
  border-color: #ff7b39;
}

/* Media Queries */
/* For Desktop */
@media(min-width: 1200px) {
  #left{
    flex:4;
  }
  #right{
    flex: 6;
  }
  .secondary-btn{
    height: 2.7rem;
  }
}

/* For mobile */
@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  #right {
    display: none;
  }

  #left {
    justify-content: start;
    margin-top: 15vh;
  }

  #signin form {
    width: 90%;
  }

  .links {
    width:90%;
  }

  #signin .logo {
    margin-bottom: 4vh;
  }

  #signin .text-input {
    margin-bottom: 0.7rem;
  }

  #main-footer {
    padding-top:4rem;
  }
}